@model Testbatterij.Models.TestScenario

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form id="editForm">
    <div class="form-horizontal">
        <h4>TestScenario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Request, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Request, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Request, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        var model = {};

        $(document).ready(function() {
            $.ajax({
                type: "get",
                url: "/api/testscenarios/" + @Model.Id,
                success: function(data) {
                    $("#Name").val(data.name);
                    $("#Request").val(data.request);
                }
            });

            $("#editForm").submit(function(e) {
                e.preventDefault();

                if ($("#editForm").valid()) {
                    var updateTestScenario = {};
                    updateTestScenario.name = $("#Name").val();
                    updateTestScenario.request = $("#Request").val();

                    $.ajax({
                        url: '/api/testscenarios/' + $("#Id").val(),
                        type: 'put',
                        dataType: 'json',
                        success: function(data) {
                            window.location.href = "/TestScenarios";
                        },
                        data: updateTestScenario
                    });
                }
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
